version: "3"
services:
  frontend:
    image: dockerayush039/frontendapp
    ports:
      - "8081:8081"
    restart: always
  backend:
    image: dockerayush039/backendapp
    ports:
      - "8080:8080"
    depends_on:
      - mongo
    environment:
      - MONGO_URL=mongodb://root:root@mongo:27017/dd_db?authSource=admin
  mongo:
    image: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
